<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><%= @tweet.text %></p>
    <% link_to 'destroy', tweet_path(@tweet), data: {turbo_method: :delete} %>
    <%= link_to "Destroy", tweet_path(@tweet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</body>

</html>