<h1>show アクション</h1>

<table>
    <tr>
        <td><%= @tweet.text %></td>
        <td><%= @tweet.created_at.in_time_zone('Tokyo') %></td>
        <td><%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %></td>
        <td><%= link_to "削除", tweet_path(@tweet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
    </tr>
</table>
